---
import "../../styles/theme.css";
---
<Base title="About">
  <h1>About</h1>
  <p>Hello Everyone!</p>
  <p>I'll be adding to this over the next few weeks, but have a look over Episode 1 to find out a little more about me</p>
</Base>
