---
import Base from "../../layouts/Base.astro";
---
<Base title="About">
  <h1>About</h1>
  <p>The Best place to find out more about me and what this site is about are through the
  <a href="https://datawithduke.com/blog/"> blogs here</a>.</p>
  <p>But just to fill in some blanks while this page is being developed, is that I hope this site to be a free to use,
  easy to access fountain of knowledge about data, technology, AI and some other bits I find interesting.</p>
</Base>
