---
import Base from "../../layouts/Base.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getBlogPosts } from "../../utils/collections.js";
const posts = await getBlogPosts();
---
<Base title="Blog">
  <h1>Blog</h1>
  <div class="grid" style="grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));"> 
    {posts.slice(0, 3).map(p => <BlogCard post={p} />)} 
  </div>
</Base>
