---
const { title, summary, image, date, url, external } = Astro.props;

---
<article class="card">
  <a href={url}><h3 style="margin-top:0;">{title}</h3></a>
  <p style="margin: 6px 0; color: var(--muted);">{new Date(date).toLocaleDateString()}</p>
  <p>{summary}</p>
  {external && <p style="color:var(--muted); font-size: 0.9em;">External post</p>}
</article>
